<div class="container" ng-controller="IndexController">

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet the Makers</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="https://www.linkedin.com/in/maoredman" target="_blank">
                        <img class="media-object img-thumbnail"
                             src="../images/mao.jpg" style="width: 150px;" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">毛弘仁</h2>
                    <h4>MEAN stack developer</h4>
                    <p>MongoDB + Express + AngularJS + NodeJS
                    </p>
                    <p><a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/maoredman" target="_blank">More &raquo;</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="https://www.facebook.com/profile.php?id=100002330572020" target="_blank">
                        <img class="media-object img-thumbnail"
                             src="../images/sheng.jpg" style="width: 150px;" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">沈昶劭</h2>
                    <h4>Firmware integrator</h4>
                    <p>Programming of hardware, send HTTP requests to server
                    </p>
                    <p><a class="btn btn-primary btn-xs" href="https://www.facebook.com/profile.php?id=100002330572020" target="_blank">More &raquo;</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="https://www.facebook.com/sky.kuo.750" target="_blank">
                        <img class="media-object img-thumbnail"
                             src="../images/kuo.jpg" style="width: 150px;" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">郭士愷</h2>
                    <h4>Sensor sensei</h4>
                    <p>Set up sensor circuits
                    </p>
                    <p><a class="btn btn-primary btn-xs" href="https://www.facebook.com/sky.kuo.750" target="_blank">More &raquo;</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="https://www.facebook.com/lilioo59" target="_blank">
                        <img class="media-object img-thumbnail"
                             src="../images/cheng.jpg" style="width: 150px;" alt="pic">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">鄭閎</h2>
                    <h4>Device builder</h4>
                    <p>Building of complete streetlight
                    </p>
                    <p><a class="btn btn-primary btn-xs" href="https://www.facebook.com/lilioo59" target="_blank">More &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


